body{
    display:flex;
    flex-flow: column;
    flex-direction: column;
}

.height-is-viewport{
    height: 100vh;
}
.height-is-at-least-viewport{
    min-height: 100vh;
}

#main-section {
    padding-top: 4.465rem;
    flex:1;
    display:flex;
    flex-flow: column;
}

#main-columns{
    flex:1;
    align-items:stretch;
}

#main-column{
    flex-flow: column;
    display:flex;
    overflow:auto;
}

#main-container{
    flex:1;
    display:flex;
    flex-flow: column;
    margin: 0; /* No margin, posts (boxes) shall always fill the entire container - even if they dont have enough content */
}


#main-vcentered-column{
    flex-flow: row;
    display: flex;
    overflow: auto;
    align-items: center;
    justify-items: center;
    justify-content: center;

}

#login-form{
    flex:1;
}

#preview{
    display:none;
    margin-top:2.64em;
}

#preview-heading {
    text-decoration:none;
}

#post{
    height:6em;
}

.pagination{
    margin-top: auto;
}


