html {
    background-color:#f5f7fa;
}

body{
    display:flex;
    flex-flow: column;
    flex-direction: column;
}

.logo-text {
    font-size:1.5em;
}

.nav-icons {
    font-size:2.5em;
}

.navbar{
    background: hsla(0,0%,96%, 0.001);
    border:none;
    box-shadow: none;
}


.sidebar-heading {
}

.has-underline {
    border-bottom:1px solid #d2d2d2;
}

.post-heading {
    font-size:2em;
    margin-bottom:5px;
}

.post-subheading {
    font-size:0.8em;
    border-bottom:2px solid #d2d2d2;
    margin-bottom:0.5em;
    padding-bottom:0.2em;
}

.tag-bar {
    margin-top:1em;
    padding-top:0.5em;
    border-top: 1px solid #d2d2d2;
}

.blog-post-card:hover {
    background-color:#f5f7fa;
}

.header {
    background-color: #f5f7fa;
}
.header .nav {
    background-color: #f5f7fa;
}

.sidebar a {
    color:#3E4CB2;
    font-weight:bold;
}


.table-row-active {
    background-color:#bcfffc !important;
}

.post-row-active {
    background-color:#bcfffc !important;
}

.main-section {
    padding-top: 3.465rem;
    flex:1;
    display:flex;
    flex-flow: column;
}

.body-container{
    flex:1;
    display:flex;
    flex-flow: column;
}

.main-content{
    flex:1;
    align-items:stretch;
}

.body-column{
    flex:1;display:flex; flex-flow: column; overflow:auto;
}

.post-heading a {
    border-bottom:none !important;
}

.post-content img {
    display:block;
    margin:0 auto;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}

.post-content code {
    background-color:#424242;
    color: #ccc;
    border-radius:2px;
    padding: 0.1em 0.5em 0.1em 0.5em;
}

.post-content pre {
    background-color: #424242;
    border-radius: 2px;
    #padding: 1em 0.2em 0.2em 0.1em;
    margin-bottom: 1em;
}

.post-content>h1,h2,h3,h4,h5,h6 {
    border-bottom:1px solid #969696;
}

.post-content a {
    font-weight:bold;
}

.large-sidebar-link {
    font-size:1.25em;
    margin-bottom:1em;
    display:block;
}

.pagination-list > li{
    list-style-type: none;
    list-style: none;
}

#navbar_search_input{
    border:none !important;
    background:transparent !important;
    padding-left:1.26rem !important;
    width:0px !important;
   -webkit-transition: all .5s ease !important;
   -moz-transition: all .5s ease !important;
   transition: all .5s ease !important;
}

#navbar_search_icon {
    border:none !important;
    background:transparent !important;
    pointer-events: none;
    color: #424242;
}


#navbar_search_control:focus-within a:hover{
    color: hsl(217, 71%, 53%) !important;
}

#navbar_search_control:hover:not(:focus-within) a {
    color: hsl(217, 71%, 53%) !important;
}

#navbar_search_control:focus-within input {
    padding-left:2.26rem !important;
    background:white !important;
    width:200px !important;
}


#navbar_search_input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.blog-post-card-icons{
    margin-bottom: 0em;
    position:relative;
    top: calc(-1.5rem + 0.1875em); /* Edit icon in top right corner of blog-post-card -> with proper distance to content of card */
    right: calc(-1.5rem + 0.1875em); /* Default icon size is 1.5rem x 1.5rem and margin of icons in buttons is 0.1875em */
}

.post-icons{
    position:relative;
    top: calc(-0.1875em - 0.2em); /* Edit icon in top right of post -> Properly aligned with content width and heading */
    right: calc(-0.1875em - 0.2em); /* Margin of icons in buttons is 0.1875em, additional 0.2em so that it looks nice (A little overlap when cutting a border is pleasing for the eye)*/
}

.blog-post-card-icons .icon{
    color: #424242;
}

.blog-post-card-icons .icon:hover
{
    color: hsl(217, 71%, 53%);
}

table .sort:before {
	font-family: FontAwesome;
	font-size: 0.75em;
	color: #333;
	font-weight: lighter;
	content: "\f0dc";
	padding-right: 0.7em;
}

table .sort.asc:before {
	content: "\f0de";
}

table .sort.desc:before {
	content: "\f0dd";
}

#action-search-post{
    display: flow-root;
    flex-wrap: wrap !important;
    /* padding: 0 !important; */
}

#post_search_field{
    margin:0 !important;

}

#post_search_control{
    display:none;
    height:0 ;
    max-height:0;
    overflow: hidden;
    transition: 0.2s ease-out;
}

#post_search_control.expanded {
    height: 100%;
    max-height: 100%;
    display: block !important;
}


