.tagify{
    $tags-border-color : #DDD;
    $tags-hover-border-color : #CCC;
    $tags-focus-border-color : #CCC;

    $tagMargin         : 5px;
    $tagPad            : .3em .5em;
    $tag-text-color    : black;
    $tag-bg            : #E5E5E5;
    $tag-hover         : #D3E2E2;
    $tag-remove        : #D39494;
    $showX             : true;

    + input,
    + textarea{ border:0; display:none; }

    @mixin placeholder( $show:true, $opacity:.5 ){
        transition:.2s ease-out;
        @if $show == true {
            opacity:$opacity; transform:none;
        }
        @else {
            opacity:0; transform:translatex(6px);
        }
    }


    @keyframes tags--bump{
        30% { transform: scale(1.2); }
    }

    &.field.is-grouped.is-grouped-multiline>.control:last-child{margin-bottom: 0 !important;}


    div > .tagify--input{ min-width:110px;
        $self: &;

        @mixin placeholder-show{ opacity:.5; transform:none; };

        &:empty::before{ @include placeholder; }

        &:focus{ outline:none;
            &::before{ @include placeholder(false);
                @supports ( -moz-appearance:none ){
                    display:none;
                }
            }
            &:empty::before{ @include placeholder(true, .3);
                @supports ( -moz-appearance:none ){
                    display:inline-block;
                }
            }
        }

        &:empty:focus{ padding:$tagPad; }

        &::before{
            content: attr(data-placeholder);
            position: absolute;
            z-index: 1;
            white-space: nowrap;
            pointer-events: none;
            opacity: 0;

        }

       // @supports( -moz-appearance:none ){
        @supports ( -moz-appearance:none ){
            &::before{
                line-height: inherit;
                position:relative;
            }
        }

        // tries to suggest the rest of the value from the first item in the whitelist which matches it
        &::after{
            content: attr(data-suggest);
            opacity: 0.3;
            color: #aa1111;
            pointer-events:none;
        }
    }

    tag.control {
      &.tagify--hide{
        max-width: 0px !important;
        overflow:hidden;
        flex-flow: nowrap !important;
        padding-left   : 0;
        padding-right  : 0;
        margin-left    : 0;
        margin-right   : 0 !important;
        opacity        : 0 !important;
        transform      : scaleX(0) !important;
        pointer-events : none;

        transition     : 0.25s ease-in-out;
      }
    }


    &__dropdown{
        position: absolute;
        z-index: 999;
        background: white;

        max-height: 300px;
        overflow: auto;
        border: 1px solid $tags-focus-border-color;
        box-shadow: 0 2px 4px -2px rgba(black,.2);
        box-sizing: border-box;


        &__item{
            box-sizing: inherit;
            padding: .35em .6em;
            margin: 2px;
            cursor: pointer;
            border-radius: 3px;

            &--active{ background:$tag-bg; }
            &:active{ background:lighten($tag-bg, 5); }
        }
    }
}