.tagify {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #DDD;
  padding: 0;
  cursor: text;
  position: relative;
  transition: .1s;
  height: auto !important; }
@keyframes tags--bump {
  30% {
    transform: scale(1.2); } }
  .tagify:hover {
    border-color: #CCC; }
  .tagify.tagify--focus {
    border-color: #85C8EA; }
  .tagify[readonly] {
    cursor: default; }
    .tagify[readonly] > .tagify__input {
      visibility: hidden;
      width: 0;
      margin: 5px 0; }
    .tagify[readonly] x {
      display: none; }
    .tagify[readonly] tag > div {
      padding: 0.05em 0.5em; }
      .tagify[readonly] tag > div::before {
        background: linear-gradient(45deg, #118cdf 25%, transparent 25%, transparent 50%, #118cdf 50%, #118cdf 75%, transparent 75%, transparent) 0/5px 5px;
        box-shadow: none; }
  .tagify + input,
  .tagify + textarea {
    border: 0;
    display: none; }
  .tagify tag {
    display: inline-block;
    margin: 5px 0 5px 5px;
    position: relative;
    z-index: 1;
    cursor: default;
    transition: .13s ease-out; }
    .tagify tag.tagify--editable > div {
      color: black; }
      .tagify tag.tagify--editable > div::before {
        box-shadow: 0 0 0 2px #5eb7f3 inset !important; }
    .tagify tag.tagify--editable.tagify--invalid > div::before {
      box-shadow: 0 0 0 2px #ff3860 inset !important; }
    .tagify tag > div {
      vertical-align: top;
      position: relative;
      box-sizing: border-box;
      max-width: 100%;
      padding: 0.05em 0.5em;
      color: white;
      border-radius: 3px;
      user-select: none;
      transition: .13s ease-out;
      padding-right: 1.5em; }
      .tagify tag > div > * {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        vertical-align: top;
        padding-right: 8px; }
        .tagify tag > div > *[contenteditable] {
          outline: none; }
      .tagify tag > div::before {
        content: '';
        position: absolute;
        border-radius: inherit;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        box-shadow: 0 0 0 20px #209cee inset;
        z-index: -1;
        pointer-events: none;
        transition: 120ms ease;
        animation: .3s tags--bump 1 ease-out; }
    .tagify tag:hover:not([readonly]) div::before {
      top: -2px;
      right: -2px;
      bottom: -2px;
      left: -2px;
      box-shadow: 0 0 0 20px #5eb7f3 inset; }
    .tagify tag.tagify--noAnim {
      animation: none; }
    .tagify tag.tagify--hide {
      width: 0 !important;
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
      opacity: 0;
      transform: scale(0);
      transition: .3s;
      pointer-events: none; }
    .tagify tag.tagify--mark div::before {
      animation: none; }
    .tagify tag.tagify--notAllowed div::before {
      box-shadow: 0 0 0 20px #ff3860 inset !important;
      transition: .2s; }
    .tagify tag[readonly] x {
      display: none; }
    .tagify tag[readonly] > div {
      padding: 0.05em 0.5em; }
      .tagify tag[readonly] > div::before {
        background: linear-gradient(45deg, #118cdf 25%, transparent 25%, transparent 50%, #118cdf 50%, #118cdf 75%, transparent 75%, transparent) 0/5px 5px;
        box-shadow: none; }
    .tagify tag x {
      position: absolute;
      z-index: 1;
      right: 5px;
      top: 50%;
      cursor: pointer;
      transform: translateY(-50%);
      transition: .2s ease-out; }
      .tagify tag x::after {
        content: "\00D7"; }
      .tagify tag x:hover {
        color: white;
        background: #ff0f3f; }
        .tagify tag x:hover + div > span {
          opacity: .5; }
        .tagify tag x:hover + div::before {
          box-shadow: 0 0 0 20px rgba(255, 56, 96, 0.3) inset !important;
          transition: .2s; }
  .tagify__input {
    min-width: 110px;
    margin: 5px;
    padding: 0.05em 0.5em;
    position: relative; }
    .tagify__input:empty::before {
      transition: .2s ease-out;
      opacity: 0.5;
      transform: none; }
    .tagify__input:focus {
      outline: none; }
      .tagify__input:focus::before {
        transition: .2s ease-out;
        opacity: 0;
        transform: translatex(6px); }
        @supports (-moz-appearance: none) {
          .tagify__input:focus::before {
            display: none; } }
      .tagify__input:focus:empty::before {
        transition: .2s ease-out;
        opacity: 0.3;
        transform: none; }
        @supports (-moz-appearance: none) {
          .tagify__input:focus:empty::before {
            display: inline-block; } }
    .tagify__input::before {
      content: attr(data-placeholder);
      line-height: 1.8;
      position: absolute;
      top: 0;
      z-index: 1;
      color: white;
      white-space: nowrap;
      pointer-events: none;
      opacity: 0; }
    @supports (-moz-appearance: none) {
      .tagify__input::before {
        line-height: inherit;
        position: relative; } }
    .tagify__input::after {
      content: attr(data-suggest);
      color: white;
      opacity: .3;
      pointer-events: none; }
    .tagify__input tag {
      margin: 0 2.5px; }
      .tagify__input tag > div {
        padding-top: 0;
        padding-bottom: 0; }
        .tagify__input tag > div::before {
          top: -3px;
          bottom: -3px; }
      .tagify__input tag:hover:not([readonly]) > div::before {
        top: -3px;
        bottom: -3px;
        left: 0;
        right: 0; }
  .tagify--mix .tagify__input {
    padding: 5px;
    margin: 0;
    width: 100%;
    height: 100%; }
  .tagify__dropdown {
    position: absolute;
    z-index: 999;
    background: white;
    max-height: 300px;
    overflow: auto;
    border: 1px solid #85C8EA;
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box; }
    .tagify__dropdown__item {
      box-sizing: inherit;
      padding: .35em .6em;
      margin: 2px;
      cursor: pointer;
      border-radius: 3px;
      position: relative; }
      .tagify__dropdown__item--active {
        background: #E5E5E5; }
      .tagify__dropdown__item:active {
        background: #f2f2f2; }

/*# sourceMappingURL=tagify_bulma_flavoured.css.map */
