<!DOCTYPE html>
<!--
      ___           ___           ___           ___           ___           ___
     /\  \         /\  \         /\__\         /\__\         /\__\         /\  \
     \:\  \       /::\  \       /:/  /        /::|  |       /:/  /        /::\  \
      \:\  \     /:/\:\  \     /:/  /        /:|:|  |      /:/__/        /:/\ \  \
      /::\  \   /::\~\:\  \   /:/  /  ___   /:/|:|  |__   /::\__\____   _\:\~\ \  \
     /:/\:\__\ /:/\:\ \:\__\ /:/__/  /\__\ /:/ |:| /\__\ /:/\:::::\__\ /\ \:\ \ \__\
    /:/  \/__/ \/_|::\/:/  / \:\  \ /:/  / \/__|:|/:/  / \/_|:|~~|~    \:\ \:\ \/__/
   /:/  /         |:|::/  /   \:\  /:/  /      |:/:/  /     |:|  |      \:\ \:\__\
   \/__/          |:|\/__/     \:\/:/  /       |::/  /      |:|  |       \:\/:/  /
                  |:|  |        \::/  /        /:/  /       |:|  |        \::/  /
                   \|__|         \/__/         \/__/         \|__|         \/__/

    By Sebastian Stern
    MIT License

	  https://github.com/schleimschein

    This is only an adapted version of

    **********************************************
    https://github.com/adamlamers/dokku-flask-blog
    **********************************************

    All credit therefor goes to Adam Lamers
    http://blog.adamlamers.com/blog

     ___     ___    __   ______
    |__ \   / _ \  /_ | |____  |
       ) | | | | |  | |     / /
      / /  | | | |  | |    / /
     / /_  | |_| |  | |   / /
    |____|  \___/   |_|  /_/


-->
<html lang="en has-navbar-fixed-top">
<head>
    <meta charset="UTF-8">
    <title>{{ settings.blog_title }} :: {% block title %} UNDEFINED {%endblock %}</title>
    <!--    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}" media="all"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css" media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/simplemde.min.css') }}" media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/highlight/monokai-sublime.min.css') }}" media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" media="all">
    {% block head %}
    {% endblock %}
</head>

<body style="display:flex; flex-flow: column; flex-direction: column; min-height:100vh;">
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main-navigation">

            <div class="navbar-brand">
                <a class="navbar-item" href="{{url_for('blog')}}">
                    <span class="logo-text">{{ settings.blog_title }} ::</span>
                </a>

                <button class="button navbar-burger" data-target="navMenu">
                  <span></span>
                  <span></span>
                  <span></span>
                </button>
            </div>

            <div class="navbar-menu" id="navMenu">

              {% if current_user.admin %}
                <div class="navbar-start">
                  <a class="navbar-item is-tab{% if (request.path == url_for('admin_post_list') or request.path == url_for('admin_main')) %} is-active {% endif %}" href="{{ url_for('admin_post_list') }}">
                      Posts
                  </a>
                  <a class="navbar-item is-tab{% if request.path == url_for('admin_tag_list') %} is-active {% endif %}" href="{{ url_for('admin_tag_list') }}">
                      Tags
                  </a>

                  <a class="navbar-item is-tab{% if request.path == url_for('admin_user_list') %} is-active {% endif %}" href="{{ url_for('admin_user_list') }}">
                      Users
                  </a>
                  <a class="navbar-item is-tab{% if request.path == url_for('admin_settings') %} is-active {% endif %}" href="{{ url_for('admin_settings') }}">
                      Settings
                  </a>
                </div>
              {% endif %}

              <!--
              <div class="navbar-center nav-menu has-text-left">
                  <h1 class="title is-5">{{ self.title() }}</h1>
              </div>
              -->

              <div class="navbar-end">
                  <a class="navbar-item {% if request.path == settings.icon_1_link %} is-active {% endif %}" href="{{settings.icon_1_link}}">
                      <i class="fa fa-{{settings.icon_1_icon_type}}"></i>
                  </a>
                  <a class="navbar-item {% if request.path == settings.icon_2_link %} is-active {% endif %}" href="{{settings.icon_2_link}}">
                      <i class="fa fa-{{settings.icon_2_icon_type}}"></i>
                  </a>

                  {% if current_user.is_authenticated %}
                    <div class="navbar-item has-dropdown is-hoverable">
                      <a class="navbar-link">
                        {{ current_user.name }}
                      </a>

                      <div class="navbar-dropdown is-boxed">
                        <a class="navbar-item" href="/profile">
                          Profile
                        </a>
                        <a class="navbar-item" href="{{ url_for('logout') }}">
                          Logout
                        </a>
                            <!-- <i class="fa fa-caret-down"></i> -->
                      </div>
                    </div>
                  {% else %}
                    <div class="navbar-item">
                      <input class="input" type="text" placeholder="Search">
                    </div>
                  {% endif %}
              </div>
            </div>
        </nav>


    <section class="section main-section" style="flex:1; display:flex; flex-flow: column;">
        <div class="container is-desktop body-container" style="flex:1; display:flex; flex-flow: column;">
            <div id="flashed-messages" class="content">
                {% for category, message in get_flashed_messages(with_categories=True) %}
                <div class="notification is-{{ category }}">
                    <button class="delete"></button>
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            <div class="columns main-content" style="flex:1; align-items:stretch">
                <div class="column is-narrow sidebar">
                    {% block sidebar %}
                    {% endblock %}
                </div>
                <div class="column content" style="flex:1;display:flex; flex-flow: column;">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </section>

    <footer class="footer_not_bulma">
      <div class="content has-text-right">
            &copy; 2018 Vegeta
      </div>
    </footer>
    <!-- Bulma hasn't yet implemented a sticky footer feature. So you have to muddle your own :) -->



    <script src="{{ url_for('static', filename='js/jquery-3.1.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/simplemde.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/highlight.min.js') }}"></script>
    <script type="text/javascript">
      $(function() {
          $(".delete").click(function(e) {
              $(this).parent().remove();
          });

          $(".highlight").each(function(i, block) {
              hljs.highlightBlock(block);
          });
      });

      document.addEventListener('DOMContentLoaded', function () {
        // Get all "navbar-burger" elements
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

          // Add a click event on each of them
          $navbarBurgers.forEach(function ($el) {
            $el.addEventListener('click', function () {

              // Get the target from the "data-target" attribute
              var target = $el.dataset.target;
              var $target = document.getElementById(target);

              // Toggle the class on both the "navbar-burger" and the "navbar-menu"
              $el.classList.toggle('is-active');
              $target.classList.toggle('is-active');

            });
          });
        }

      });
    </script>

    {% block javascript %}
    {% endblock %}
</body>
</html>
