<!DOCTYPE html>
<!--
      ___           ___           ___           ___           ___           ___
     /\  \         /\  \         /\__\         /\__\         /\__\         /\  \
     \:\  \       /::\  \       /:/  /        /::|  |       /:/  /        /::\  \
      \:\  \     /:/\:\  \     /:/  /        /:|:|  |      /:/__/        /:/\ \  \
      /::\  \   /::\~\:\  \   /:/  /  ___   /:/|:|  |__   /::\__\____   _\:\~\ \  \
     /:/\:\__\ /:/\:\ \:\__\ /:/__/  /\__\ /:/ |:| /\__\ /:/\:::::\__\ /\ \:\ \ \__\
    /:/  \/__/ \/_|::\/:/  / \:\  \ /:/  / \/__|:|/:/  / \/_|:|~~|~    \:\ \:\ \/__/
   /:/  /         |:|::/  /   \:\  /:/  /      |:/:/  /     |:|  |      \:\ \:\__\
   \/__/          |:|\/__/     \:\/:/  /       |::/  /      |:|  |       \:\/:/  /
                  |:|  |        \::/  /        /:/  /       |:|  |        \::/  /
                   \|__|         \/__/         \/__/         \|__|         \/__/

    By Sebastian Stern
    MIT License

	  https://github.com/schleimschein

    This is only an adapted version of

    **********************************************
    https://github.com/adamlamers/dokku-flask-blog
    **********************************************

    All credit therefor goes to Adam Lamers
    http://blog.adamlamers.com/blog

-->
<html lang="en has-navbar-fixed-top">
<head>
    <meta charset="UTF-8">
    <title>{{ settings.blog_title }} :: {% block title %} {{ settings.blog_title }} {%endblock %}</title>

    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}" media="all"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css" media="all">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/highlight/monokai-sublime.min.css') }}" media="all">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.min.css') }}" media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.min.css') }}" media="all">

    {% block css %}
    {% endblock %}
</head>

<body class="{% if not height_is_view_port %}height-is-at-least-viewport{% else %}height-is-viewport{% endif %}">

    {% include 'navbar.html' %}

    <section class="section" id="main-section">
            <div id="flashed-messages" class="content">
                {% for category, message in get_flashed_messages(with_categories=True) %}
                  <div class="notification is-{{ category }} has-delete">
                      <button class="delete"></button>
                      {{ message }}
                  </div>
                {% endfor %}
            </div>

            <div class="columns" id="main-columns">
            {% if self.left_to_body_column_not_in_column | trim %}
                {% block left_to_body_column_not_in_column %}
                {% endblock %}
            {% endif %}
            {% if self.sidebar() | trim %}
                <div class="column is-narrow sidebar">
                    {% block sidebar %}
                    {% endblock %}
                </div>
            {% endif %}
            {% if self.main() %}
                <div class="column" id="main-column">
                  <div class="container is-fluid" id="main-container">
                    {% block main %}
                    {% endblock %}
                  </div>
                </div>
            {% elif self.main_vcentered() %}
                <div class="column is-4 is-offset-4" id="main-vcentered-column">
                    {% block main_vcentered%}
                    {% endblock %}
                </div>
            {% endif %}
            </div>
    </section>

    <footer class="footer-not-bulma">
      <div class="content has-text-right">
            &copy; 2018 Vegeta
      </div>
    </footer>

    <script src="{{ url_for('static', filename='js/highlight.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/delete.js') }}"></script>

    <script src="{{ url_for('static', filename='js/navbar-burger.js') }}"></script>
    <script src="{{ url_for('static', filename='js/navbar-search.js') }}"></script>



    <script type="text/javascript">
      var highlightElems = document.getElementsByClassName("highlight");
      for (var i = 0, len = highlightElems.length; i < len; i++) {
      hljs.highlightBlock(highlightElems[i]);
      }
    </script>

    {% block javascript %}
    {% endblock %}
</body>
</html>
