{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}" media="all">
{% endblock %}


{% block main%}
<!-- begin post box -->
  {% if query and posts_with_tags %}
    <p class="title is-3">Search results for {{ query }} </p>
  {% endif %}

  {% if posts_with_tags %}
    {% for post,tags in posts_with_tags%}
        {% include 'post.html' %}
      {% endfor %}
  {% endif %}

  {% if pages %}
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
    <a class="button pagination-previous is-primary is-outlined" {% if pages.has_prev %} href="{% block pagination_previous_link %}{% endblock %}" {% else %} disabled="disabled" {% endif %}>
        Newer
    </a>
    <a class="button pagination-next is-primary is-outlined" {% if pages.has_next %} href="{% block pagination_next_link %}{% endblock %}" {% else %} disabled="disabled" {% endif %}>
      Older
    </a>
    <ul class="pagination-list">
        {% for page in pages.elements %}
        <li>
            <a class="button pagination-link {% if page.number == pages.page %} is-primary is-outlined{% endif %}" href="{% block pagination_link scoped %}{% endblock %}">{{ page }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>

  {% endif %}

  <!-- end post box -->

{% endblock %}
