{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}" media="all">
{% endblock %}

{% block body %}
<!-- begin post box -->

  {% if query and posts_with_tags %}
  <p class="title is-3">Search results for {{ query }} </p>
  {% elif query and not posts_with_tags %}
  <p class="title is-3">No search results for {{ query }}   :( </p>
  {% endif %}

  {% for post,tags in posts_with_tags%}
      {% include 'post.html' %}
  {% else %}
  <div class="container" style="flex:1; display:flex; flex-flow: column; justify-content: center;">
    <div class="content has-text-centered">
          <h1 class="title">Nothing to see here</h1>
    </div>
  </div>
  {% endfor %}

  {% if pages %}
    <nav class="pagination is-centered" role="navigation" aria-label="pagination" style="margin-top: auto;">
    <a class="button pagination-previous is-primary is-outlined" {% if pages.has_prev %} href="{% block pagination_previous_link %}{% endblock %}" {% else %} disabled="disabled" {% endif %}>
        Newer
    </a>
    <a class="button pagination-next is-primary is-outlined" {% if pages.has_next %} href="{% block pagination_next_link %}{% endblock %}" {% else %} disabled="disabled" {% endif %}>
      Older
    </a>
    <ul class="pagination-list">
        {% for page in pages.elements %}
        <li>
            <a class="button pagination-link {% if page.number == pages.page %} is-primary is-outlined{% endif %}" href="{% block pagination_link scoped %}{% endblock %}">{{ page }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>

  {% endif %}

  <!-- end post box -->

{% endblock %}
