{% extends "base.html" %}
{% set comma = joiner(",") %}


{% block title %} New Post {% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/simplemde.min.css') }}" media="all">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bulma-switch.min.css') }}" media="all">
<link rel="stylesheet" href="{{ url_for('static', filename='css/tagify_bulma_flavoured.css') }}" media="all">
<link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}" media="all">
{% endblock %}

{% block sidebar %}
<div class="content">
    <div class="panel">
        <div class="panel-heading">
            Options
        </div>

        <a class="panel-block" href="#save-as-draft" id="action-draft">
            <span class="panel-icon">
                <i class="fa fa-book"></i>
            </span>
            Save as Draft
        </a>

        <a class="panel-block" href="#delete" id="action-delete-post">
            <span class="panel-icon">
                <i class="fa fa-minus"></i>
            </span>
            Delete Post
        </a>

        <a class="panel-block" href="#view-preview" id="action-preview">
            <span class="panel-icon">
                <i class="fa fa-eye"></i>
            </span>
            Preview
        </a>

    </div>
</div>
{% endblock %}

{% block main%}
    <div id="post-form-container ">
        <form action="{{ url_for('admin_save_post') }}" method="POST" id="post-form">
          <div class="field">
            <label class="label">Post Title</label>
            <p class="control">
                {% if not editing %}
                <input type="text" id="post-form-title" name="post-form-title" class="input" placeholder="No Title">
                {% else %}
                <input type="text" id="post-form-title" name="post-form-title" class="input" placeholder="No Title" value="{{ post.title }}">
                {% endif %}
            </p>
          </div>
          <div class="field">
            <label class="label">Short Description</label>
            <p class="control">
                <textarea class="input" name="post-form-description" id="post-description-editor">{% if editing %}{{ post.description }}{% endif %}</textarea>
            </p>
          </div>
          <div class="field">
            <label class="label">Content</label>
            <p class="control">
              <textarea name="post-form-content" id="post-form-content-editor">{% if editing %}{{ post.content }}{% endif %}</textarea>
            </p>
          </div>
          <div class="field">
            <label class="label">Tags</label>
            <p class="control">
                {% if not editing %}
                <input class="input" id="post-form-tags" type="tags" name="post-form-tags" placeholder="Tags" value="{% for tag in tags_of_post %}{{ comma() }}{{tag.name}}{% endfor %}">
                {% else %}
                <input class="input" id="post-form-tags" type="tags" name="post-form-tags" placeholder="Tags" value="{% for tag in tags_of_post %}{{ comma() }}{{tag.name}}{% endfor %}">
                {% endif %}
                <div id="all-tags" all-tags="{% for tag in all_tags %}{{ comma() }}{{tag.name}}{% endfor %}"></div>
            </p>
          </div>
          <div class="field">
            <label class="label"> Status</label>
            <p class="control">
            {% if not editing %}
              <input class="switch is-primary " id="post-form-publish-switch" type="checkbox" name="post-form-publish" checked="checked">
            {% else %}
              <input class="switch is-primary" id="post-form-publish-switch" type="checkbox" name="post-form-publish" {% if post.published %} checked="checked" {% endif %}>
            {% endif %}
              <label class="label" id="post-form-publish-switch-label" for="post-form-publish-switch">Publish</label>
            </p>
          </div>

            {% if editing %}
                <input type="hidden" name="post-edit-id" value="{{ post.id }}">
            {% endif %}

            <div class="has-text-right"><button id="post-form-submit-button" class="button is-primary is-large">Post</button></div>
        </form>
    </div>


    <div id="preview" >
      <h2 id="preview-heading">Preview:</h2>
        {% include 'post.html'%}
    </div>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/tagify.js') }}"></script>
<script src="{{ url_for('static', filename='js/simplemde.min.js') }}"></script>
<script type="text/javascript">

  // Tagify.js for tags
  var inputTagify = document.querySelector('input[id=post-form-tags]');
  var all_tags = document.getElementById("all-tags").getAttribute("all-tags");
  var optionsTagify = {
   whitelist: all_tags.split(','),
   autocomplete: false,
   tagTemplate: function template(v, tagData) {
     return "<tag title='" + v + "' contenteditable='false' spellcheck=\"false\">\n                            <div><span class='tagify__tag-text'>" + v + "</span></div><x class='delete is-small' title=''></x>\n                        </tag>";
   }
  };
  var tagify = new Tagify(inputTagify, optionsTagify);

  // SimpleMDE.js for content markdown editor
  var postFormEditor = new SimpleMDE({ element: document.getElementById("post-form-content-editor")});

</script>
<script src="{{url_for('static', filename='js/compose_interactions.js')}}"></script>
{% endblock %}
