{% extends "base.html" %}
{% set height_is_view_port = True %}


{% block title %}Post List{% endblock %}

{% block sidebar %}
<div class="content">
    <div class="panel">
        <div class="panel-heading">
            Options
        </div>

        <a class="panel-block" href="{{ url_for('compose') }}">
            <span class="panel-icon">
                <i class="fa fa-plus"></i>
            </span>
            Create Post
        </a>

        <a class="panel-block" href="javascript:void(0);" id="action-delete-post">
            <span class="panel-icon">
                <i class="fa fa-minus"></i>
            </span>
            Delete Post
        </a>

        <a class="panel-block" href="javascript:void(0);" id="action-edit-post">
            <span class="panel-icon">
                <i class="fa fa-pencil"></i>
            </span>
            Edit Post
        </a>
    </div>
</div>
{% endblock %}

{% block body %}
    <table class="table is-hoverable">
        <thead>
            <tr>
                <td>Post ID</td>
                <td>Title</td>
                <td>Tags</td>
                <td>Published</td>
                <td>User</td>
                <td>Date Posted</td>
            </tr>
        </thead>
        <tbody>
            {% for post,user,tags in posts_with_user_and_tags %}
            <tr class="post-row">
                <td class="post-id">{{ post.id }}</td>
                <td><a href="{{ url_for('post', pid=post.id) }}">{{ post.title }}</a></td>
                <td>
                {% for tag in tags %}
                  <a href="{{ url_for('tag_view', tag_name=tag.name) }}" class="tag">{{ tag.name}}</a>
                {% endfor %}
                <td><span class="panel-icon"><i class="fa fa-circle {% if post.published %} has-text-primary {% endif %}  "></i></span></td>
                </td>
                {% if user %}
                <td><a href="{{ url_for('user_view', user_name=user.name) }}">{{ user.name}}</a></td>
                {% elif not user %}
                <td>Deleted</td>
                {% endif %}
                <td>{{ post.created_at.strftime("%Y-%m-%d %H:%M:%S") }}</td>
            </tr>
            {% else %}
            <tr>
                <td class="has-text-centered" colspan="3"> No Posts To Display </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(function() {
    var activeRow = null;
    var activeRowId = null;

    $(".post-row").click(function(e) {
        var row = $(this);

        if (activeRow)
            activeRow.removeClass("post-row-active")

        row.addClass("post-row-active");
        id = row.find(".post-id").html();
        activeRow = row;
        activeRowId = id;
    });

    $("#action-delete-post").click(function(e) {

        if(activeRowId)
        {
            if(confirm("Are you sure you want to delete post " + activeRowId + "?"))
            {
                $.post("{{ url_for('admin_post_delete') }}", { id: activeRowId }).done(function(e) {
                  if(JSON.parse(e)["ok"] === true) {
                    activeRow.remove();
                  }
                  else
                  {
                    location.reload();
                  }
                });
            }
        }
        else
        {
            alert("Select a post to delete.");
        }
    });

    $("#action-edit-post").click(function(e) {
        if(activeRowId)
        {
            window.location = "/admin/posts/edit/" + activeRowId;
        }
        else
        {
            alert("Select a post to edit!");
        }
    });

    $('body').bind('mousewheel touchmove', lockScroll);


    });
</script>
{% endblock %}
