{% extends "base.html" %}
{% set height_is_view_port = True %}

{% block title %}
  Post List
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.min.css') }}" media="all">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/table.min.css') }}" media="all">
{% endblock %}

{% block sidebar %}
<div class="content">
    <div class="panel">
        <div class="panel-heading">
            Options
        </div>

        <a class="panel-block" href="{{ url_for('compose')}}">
            <span class="panel-icon">
                <i class="fa fa-plus"></i>
            </span>
            Create Post
        </a>

        <a class="panel-block" href="javascript:void(0);" id="action-delete-post">
            <span class="panel-icon">
                <i class="fa fa-minus"></i>
            </span>
            Delete Post
        </a>

        <a class="panel-block" href="javascript:void(0);" id="action-edit-post">
            <span class="panel-icon">
                <i class="fa fa-pencil"></i>
            </span>
            Edit Post
        </a>
    </div>
</div>
{% endblock %}

{% block main%}
 <div id="table-block">
   <div id="table-container">
     <table class="table is-hoverable is-fullwidth is-striped">
        <thead>
          <tr>
            <th class="sort" data-sort="post-id">ID</th>
            <th class="sort" data-sort="post-title">Title</th>
            <th class="sort" data-sort="post-tags">Tags</th>
            <th class="sort" data-sort="post-published">Publ.</th>
            <th class="sort" data-sort="post-user">User</th>
            <th class="sort" data-sort="post-date_posted">Posted</th>
            <th class="sort" data-sort="post-date_updated">Updated</th>
          </tr>
        </thead>
          <tbody class="list" >
            {% for post,user,tags in posts_with_user_and_tags %}
            <tr class="post-row">
              <td class="post-id" data-id="{{ post.id }}">
                {{ post.id }}
              </td>
              <td class="post-title"  data-title="{{ post.title }}">
                <a href="{{ url_for('post', pid=post.id, slug=post.slug) }}">{{ post.title }}</a>
              </td>
              {% set comma = joiner(",") %}
              <td class="post-tags" data-tags="{% for tag in tags %}{{ comma() }}{{ tag.name}}{% endfor %}">
              {% for tag in tags %}
                <a href="{{ url_for('tag_view', tag_name=tag.name) }}" class="tag">{{ tag.name}}</a>
              {% endfor %}
              <td class="post-published" data-published="{% if post.published %}published{% elif not post.published %}draft{% endif %}">
                <span class="panel-icon"><i class="fa fa-circle {% if post.published %} has-text-primary {% endif %}  "></i></span>
              </td>
              <td class="post-user" data-user="{% if user %}{{ user.name }}{% endif %}">
              {% if user %}
                <a href="{{ url_for('user_view', user_name=user.name) }}">{{ user.name}}</a>
              {% elif not user %}
                Deleted
              {% endif %}
              </td>
              <td class="post-date-posted" data-posted="{{ post.created_at.strftime("%Y-%m-%d %H:%M:%S") }}">
                {{ post.created_at.strftime("%Y-%m-%d %H:%M:%S") }}
              </td>
              <td class="post-date-updated" data-updated="{{ post.updated_at.strftime("%Y-%m-%d %H:%M:%S") }}">
                {{ post.updated_at.strftime("%Y-%m-%d %H:%M:%S") }}
              </td>
            </tr>
            {% else %}
            <tr>
                <td class="has-text-centered" colspan="7"> No Posts To Display </td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
   </div>
    <nav class="level">
      <div class="level-left">
        <div class="level-item in-table">
          <div class="control has-icons-left">
            <input class="input is-small" id="list-search-field" size="20" type="text" placeholder="Search Post">
            <span class="icon is-small is-left">
              <i class="fa fa-search"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="level-left">
        <div class="level-item in-table">
          <nav class="pagination is-right is-small" id="table-pagination" role="navigation" aria-label="pagination">
            <ul class="pagination-list"></ul>
          </nav>
        </div>
      </div>
    </nav>
 </div>

{% endblock %}

{% block javascript %}
<!-- Fancy table functions via list_with_bulma.js. Unfortunately we have to tinker a bit with the pagination classes :/ -->
<script src="{{ url_for('static', filename='js/list_with_bulma.js') }}"></script>
<script type="text/javascript">
var table_entries_per_page = {{settings.table_entries_per_page}};
var listType = "post"; // for list_interactions.js
var optionsList = {
  valueNames: [
    { name: 'post-id', attr: 'data-id'},
    { name: 'post-title', attr: 'data-title'},
    { name: 'post-tags', attr: 'data-tags'},
    { name: 'post-published', attr: 'data-published'},
    { name: 'post-user', attr: 'data-user'},
    { name: 'post-date-posted', attr: 'data-posted'},
    { name: 'post-date-updated', attr: 'data-updated'}],
  page: table_entries_per_page, // table_entries_per_page is set external as global
  pagination: [{
    paginationClass: 'pagination-list',
    innerWindow: 5,
    outerWindow: 1
  }]
};
var List = new List("table-block", optionsList);
</script>
<script src="{{ url_for('static', filename='js/list_interactions.min.js') }}"></script>
{% endblock %}
