{% extends "base.html" %}
{% set comma = joiner(",") %}

{% block title %}
  New Post
{% endblock %}


{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tagify_bulma_flavoured.min.css') }}" media="all">
<link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.min.css') }}" media="all">
{% endblock %}

{%  if editing == True %}
  {% block sidebar %}
    <div class="content">
        <div class="panel">
            <div class="panel-heading">
                Options
            </div>
            <a class="panel-block" id="action-delete-tag" href="javascript:void(0);">
                <span class="panel-icon">
                    <i class="fa fa-times"></i>
                </span>
                Delete This Tag
            </a>
        </div>
    </div>
  {% endblock %}
{% endif %}

{% block main %}
    <div class="content">
        <form action="{{ url_for('admin_tag_save') }}" method="POST" id="tag-form">
          <div class="field">

            {% if not editing %}
            <label class="label">Create Tag</label>
            {% else %}
              <label class="label">Edit Tag <span class="is-size-4">"{{ tag_to_edit.name }}"</span></label>
            {% endif %}

              <div class="control is-expanded">
                {% if not editing %}
                  <input class="input" id="input_tagify" type="tags" name="tags" placeholder="Tags" >
                {% else %}
                  <input class="input" id="input_tagify" type="tags" name="tags" placeholder="Tags" value="{{ tag_to_edit.name }}">
                {% endif %}
		            <div id="all-tags" all-tags="{% for tag in all_tags %}{{ comma() }}{{tag.name}}{% endfor %}"></div>
		
              </div>
          </div>
          <div class="field">

              <div class="control">
                <div class="has-text-right"><button class="button is-primary" id="tags-submit-button">Save</button></div>
              </div>
              {% if editing %}
              <input type="hidden" name="tag-edit-id" value="{{ tag_to_edit.id }}">
              {% endif %}
          </div>
        </form>
    </div>
{% endblock %}

{% block javascript %}
  <script src="{{ url_for('static', filename='js/tagify.js') }}"></script>
  <script type="text/javascript">
    var input = document.querySelector('input[id=input_tagify]');
    var all_tags = document.getElementById("all-tags").getAttribute("all-tags");
    var optionsTagify = {
      {% if editing %}
        maxTags: 1,
      {% endif %}
      whitelist: all_tags.split(','),
      blacklist: all_tags.split(','),
      autocomplete: false,
      delimiters: ["," , " "],
      tagTemplate: function template(v, tagData) {
        return "<tag title='" + v + "' contenteditable='false' spellcheck=\"false\">\n                            <div><span class='tagify__tag-text'>" + v + "</span></div><x class='delete is-small' title=''></x>\n                        </tag>";
      }
    };
    var Tagify=new Tagify(input,optionsTagify);
  </script>

  <script type="text/javascript">
  var editType = "tag";
  </script>
  <script src="{{ url_for('static', filename='js/edit_interaction.min.js') }}"></script>

{% endblock %}
