{% extends "base.html" %}
{% set height_is_view_port = True %}


{% block title %}
  Tag List
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.min.css') }}" media="all">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/table.min.css') }}" media="all">
{% endblock %}

{% block sidebar %}
<div class="content">
    <div class="panel">
        <div class="panel-heading">
            Options
        </div>

        <a class="panel-block" href="{{ url_for('admin_tag_create') }}" id="action-create-tag">
            <span class="panel-icon">
                <i class="fa fa-plus"></i>
            </span>
            Create Tag
        </a>

        <a class="panel-block" href="javascript:void(0)" id="action-delete-tag">
            <span class="panel-icon">
                <i class="fa fa-minus"></i>
            </span>
            Delete Tag
        </a>

        <a class="panel-block" href="javascript:void(0)" id="action-edit-tag">
            <span class="panel-icon">
                <i class="fa fa-pencil"></i>
            </span>
            Edit Tag
        </a>
         <a class="panel-block" href="javascript:void(0)" id="action-show-post-of-tag">
            <span class="panel-icon">
                <i class="fa fa-sticky-note-o"></i>
            </span>
            Show Posts
        </a>

    </div>
</div>
{% endblock %}

{% block main %}
  <div id="table-block">
   <div id="table-container">
     <table class="table is-hoverable is-fullwidth is-striped">
          <thead>
              <tr>
                  <th class="sort" data-sort="tag-id">ID</th>
                  <th class="sort" data-sort="tag-name">Tag</th>
                  <th class="sort" data-sort="tag-posts-number">Nr. of posts</th>
                  <th class="sort" data-sort="tag-date-created">Created</th>
              </tr>
          </thead>
          <tbody class="list" >
              {% for tag in tags %}
              <tr class="tag-row">
                  <td class="tag-id" data-id="{{ tag.id }}">
                    {{ tag.id }}
                  </td>
                  <td class="tag-name" data-name="{{ tag.name }}">
                    {{ tag.name}}
                  </td>
                  <td class="tag-posts-number" data-counts="{{ tag.count}}">
                    <a href="{{ url_for('tag_view', tag_name=tag.name) }}">{{tag.count}}</a>
                  <td class="tag-date-created" data-created="{{ tag.updated_at.strftime("%Y-%m-%d %H:%M:%S") }}">
                    {{ tag.updated_at.strftime("%Y-%m-%d %H:%M:%S") }}
                  </td>
              </tr>
              {% else %}
              <tr>
                  <td class="has-text-centered" colspan="5"> No Tags To Display </td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
   </div>
  <nav class="level">
    <div class="level-left">
      <div class="level-item in-table">
        <div class="control has-icons-left">
            <input class="input is-small" id="list-search-field" size="20" type="text" placeholder="Search Tag">
            <span class="icon is-small is-left">
              <i class="fa fa-search"></i>
            </span>
        </div>
      </div>
    </div>
    <div class="level-left">
      <div class="level-ite in-table">
        <nav class="pagination is-right is-small" id="table-pagination" role="navigation" aria-label="pagination">
      <ul class="pagination-list"></ul>
    </nav>
      </div>
    </div>
  </nav>
 </div>

{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/list_with_bulma.js') }}"></script>
<script type="text/javascript">
var table_entries_per_page = {{settings.table_entries_per_page}};
var listType = "tag";
var optionsList = {
  valueNames: [
    { name: 'tag-id', attr: 'data-id'},
    { name: 'tag-name', attr: 'data-name' },
    { name: 'tag-posts-number', attr: 'data-counts' },
    { name: 'tag-date-created', attr: 'data-created'}],
  page: table_entries_per_page,
  pagination: [{
    paginationClass: 'pagination-list',
    innerWindow: 5,
    outerWindow: 1
  }]
};
var List = new List("table-block", optionsList);
</script>
<script src="{{ url_for('static', filename='js/list_interactions.min.js') }}"></script>
{% endblock %}
