{% extends "base.html" %}
{% set height_is_view_port = True %}


{% block title %}
  User List
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}" media="all">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}" media="all">
{% endblock %}

{% block sidebar %}
<div class="content">
    <div class="panel">
        <div class="panel-heading">
            Options
        </div>

        <a class="panel-block" href="{{ url_for('admin_user_create') }}" id="action-create-user">
            <span class="panel-icon">
                <i class="fa fa-plus"></i>
            </span>
            Create User
        </a>

        <a class="panel-block" href="javascript:void(0)" id="action-delete-user">
            <span class="panel-icon">
                <i class="fa fa-minus"></i>
            </span>
            Delete User
        </a>

        <a class="panel-block" href="javascript:void(0)" id="action-edit-user">
            <span class="panel-icon">
                <i class="fa fa-pencil"></i>
            </span>
            Edit User
        </a>
        <a class="panel-block" href="javascript:void(0)" id="action-show-post-of-user">
            <span class="panel-icon">
                <i class="fa fa-sticky-note-o"></i>
            </span>
            Show Posts
        </a>

    </div>
</div>
{% endblock %}

{% block main %}
  <div id="table-block">
   <div id="table-container">
     <table class="table is-hoverable is-fullwidth is-striped">
          <thead>
              <tr>
                  <th class="sort" data-sort="user-id">ID</th>
                  <th class="sort" data-sort="user-name">Name</th>
                  <th class="sort" data-sort="user-post-count">Number of posts</th>
                  <th class="sort" data-sort="user-role">Role</th>
                  <th class="sort" data-sort="user-date-created">Created</th>
              </tr>
          </thead>
          <tbody class="list" >
              {% for user in users_with_post_counts %}
              <tr class="user-row">
                  <td class="user-id" data-id="{{ user.id }}">
                    {{ user.id }}
                  </td>
                  <td class="user-name" data-name="{{ user.name }}">
                    <a href="{{ url_for('user_view', user_name=user.name) }}">{{ user.name }}</a>
                  </td>
                  <td class="user-post-count" data-count="{{ user.count }}">
                    <a href="{{ url_for('user_view', user_name=user.name) }}">{{ user.count}}</a>
                  <td class="user-role" data-role="{% if user.admin%}Admin{% elif not user.admin %}None{% endif %}">
                    <span>{% if user.admin%}Admin{% elif not user.admin %}None{% endif %}</span>
                  </td>
                  <td class="user-date-created" data-created="{{ user.created_at.strftime("%Y-%m-%d %H:%M:%S") }}">
                    {{ user.created_at.strftime("%Y-%m-%d %H:%M:%S") }}
                  </td>
              </tr>
              {% else %}
              <tr>
                  <td class="has-text-centered" colspan="5"> No Users To Display </td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
   </div>
  <nav class="level">
    <div class="level-left">
      <div class="level-item in-table" >
        <div class="control has-icons-left">
            <input class="input is-small" id="list-search-field" size="20" type="text" placeholder="Search User">
            <span class="icon is-small is-left">
              <i class="fa fa-search"></i>
            </span>
        </div>
      </div>
    </div>
    <div class="level-left">
      <div class="level-item in-table">
        <nav class="pagination is-right is-small" id="table-pagination" role="navigation" aria-label="pagination">
      <ul class="pagination-list"></ul>
    </nav>
      </div>
    </div>
  </nav>
 </div>
{% endblock %}

{% block javascript %}
<!-- Fancy table functions via list_with_bulma.js. Unfortunately we have to tinker a bit with the pagination classes :/ -->
<script src="{{ url_for('static', filename='js/list_with_bulma.js') }}"></script>
<script type="text/javascript">
  var table_entries_per_page = {{settings.table_entries_per_page}};
  var listType = "user";
  var optionsList = {
    valueNames: [
      { name: 'user-id', attr: 'data-id'},
      { name: 'user-name', attr: 'data-name'},
      { name: 'user-count', attr: 'data-count'},
      { name: 'user-role', attr: 'data-role'},
      { name: 'user-date-created', attr: 'data-created'}],
    page: table_entries_per_page, // table_entries_per_page is set external as global
    pagination: [{
      paginationClass: 'pagination-list',
      innerWindow: 5,
      outerWindow: 1
    }]
  };
var List = new List(listType+'s', optionsList);
</script>
<script src="{{ url_for('static', filename='js/list_interactions.js') }}"></script>
{% endblock %}
